<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
</head>
<body>
  <nav>
    {{#if loggedIn}}
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/login">Sign Up</a>
    {{/if}}
  </nav>

  <h1>Welcome to TechBlogs</h1>

  <!-- Loop over each object in the blogPosts array -->
  {{#each BlogPosts }}
  <div class="row mb-4 BlogPosts">
    <div class="col-md-5">
      <h2>
        <a href="/blogposts/{{body.id}}">{{body.title}} {{contents}}</a>
      </h2>
      <p>Created by {{name}} on {{format_date date_created}}</p>
    </div>
    <div class="col-md-7">
      <h3>Comments:</h3>
      {{#each Comments}}
      <p>{{description}}</p>
      {{/each}}
    </div>
  </div>
  {{/each}}

  <script src="./js/BlogPosts.js"></script>
</body>
</html>

